<!DOCTYPE html>
<html lang= "en">
    <head>
        <title>
        Plasma Bed
        </title>
        <meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1.0" />
        <script src="creds.js"></script>
         <!-- new css -->
	    <!-- semantic ui config-->
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha256-9mbkOfVho3ZPXfM7W8sV2SndrGDuh7wuyLjtsWeTI1Q=" crossorigin="anonymous" />
        <link rel="stylesheet" href= "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link id="theme" rel="stylesheet" type="text/css" href="light-theme.css" />
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <div class="ui inverted pointing menu stackable">
            <a id="about" href="/" class="item header">Home</a>
            <a id="map" href="/map" class="item">Map</a>
            <a id="technology" href="/technology" class="item">Technology</a>
            <a id="contact" href="/contact" class="item">Contact</a>
            <a id="test" href="/test" class="item">Test</a>
            
            <div class="ui fluid inverted two column centered grid menu">
                <span class="fluid item" id="status"><i class=" white inverted bed icon"></i> Plasma Bed</span>
            </div>
            <a id="log-in" href="/login" class="item">Login</a>
            <a class="item" id="theme-toggle">Dark Mode</a> 
            <div class="hamburger">
                <span class="hamburger-bun"></span>
                <span class="hamburger-patty"></span>
                <span class="hamburger-bun"></span>
            </div>
        </div>
