<%- include("./partials/header") %>
<div class="ui center aligned segment masthead">
    <div class="ui center aligned text container">
        <h1 class="ui header pretty library">Here Maps: BITSians</h1>
        <p class="pretty">A Load Balancer for Medical Faciliities</p><br>
        <a href="/" class="ui huge download button">
            Get Started
          </a>
    </div>
</div>
<div class="ui text container">
    <h1 class="ui header">Description</h1>
</div>

<%- include("./partials/footer") %>