<!DOCTYPE html>
<html>
<head>
    <title>Map</title>
    <meta name="viewport" content="initial-scale=1.0,width=device-width" />
    <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-ui.js" type="text/javascript"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js" type="text/javascript"></script>

    <!--++++++++++++++++++++checking points wrt user+++++++++++++++++++++++-->
    <script src="https://cdn.jsdelivr.net/npm/@turf/turf@5/turf.min.js"></script>
</head>

<body>
  <h2>Done</h2>

  <div style="width: 640px; height: 480px" id="mapContainer"></div>
  
  <p>Click the button to get your coordinates.</p>

  <div>
    <h5><b>This is your Position Coordinates :</b></h5>
    <p id="demo">Please wait ...</p><br><br>
  </div>
<!--+++++++++++++++++++++++++++++++++++++++++++-->
  




<!--+++++++++++++++++++++++++++++++++++++++++++-->
  
<script src="beta_map.js" type="text/javascript"></script>

  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/6.0.2/firebase.js"></script>

  <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

<script src="beta_firebase.js"></script>

  <button onclick="add_location()">Add all locations from database</button>

  </body>
</html>
