<%- include("./partials/header") %>


<script src="faq.js"></script>

<div class="ui fluid left aligned segment">
    <h1 class="ui header" style="font-size:4.5em;">FAQ</h1>
</div>
<br>
<br>
<div class="ui stackable centered two column grid">
    <div class="six wide column">
        <img class="ui large image" src="faqimage.png">
    </div>
    <div class="ten wide column">
        <p>Content yaha aega</p>
    </div>
</div>

<%- include("./partials/footer") %>
