<%- include("./partials/header") %>


<script src="faq.js"></script>

<div class="ui fluid left aligned segment">
    <h1 class="ui header" style="font-size:4.5em;">Frequently Asked Questions</h1>
</div>

<img class="ui large centered image" src="faqDoubts.png">
<br>    
<div class="ui text container" id="faqContent">
</div>

<!-- JQUERY for accordion initialisation -->
<script language='javascript'> 
    $(document).ready(function(){
        $('.ui.accordion').accordion();
    });
</script> 
<%- include("./partials/footer") %>
