include ./partials/header.ejs

// Mixins
mixin input(type, label)
    label(for='#{label}')=label    
    input(type='#{type}' id='#{label}' class="ui small input" required)
    .bar
mixin button(text)
    button(class="ui mini button")
      span=text
  
.ui.container.login-container
  .ui.card.centered.login-card
    .content
      i(class="right floated user md icon")
      .header Login
    .content  
      form(class="ui form")
        .field
          +input('text', 'Username')
        .field
          +input('password', 'Password')
        .extra.content
          a(href='#') Forgot your password?

      +button('Go')
        
.ui.container.login-container  
  .ui.card.centered.login-card
    .content
      .header Register
    .content  
      form(class="ui form")
        .field
          +input('text', 'Username')
        .field
          +input('password', 'Password')
        .field
          +input('password', 'Repeat Password')
        br  
      +button('Next')


include ./partials/footer.ejs
