body{
    color: white;
    background-color: #2a2a2a !important;
}
.card,.segment,.step{
    background-color: #3d3d3d !important;
}
.description,.meta,.header,.icon{
    color:white !important;
}
p,hr,h1,h3,label,a {
    color: white !important;
}
.dark {
    color: white !important;
}
.content{
    color: white !important;
}

/* Dark Theme for PlasmaBank */
strong,.card-body{
    color: white !important;
}
a.btn.text-dark.shadow{
    color: white !important;
    background-color: #3d3d3d !important;
}
.block,.title{
    background-color: #2a2a2a !important;
}

.table.table-hover.border{
    color: white !important;
    background-color: #3d3d3d !important;
}

input,select{
    color: white !important;
    background-color: #404040 !important;
}

/* Dark Theme for plasma Bank ends */