
// Gradients Color
body {
	background: #acb6e5;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #86fde8, #acb6e5);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #86fde8, #acb6e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#mapContainer > div > div:nth-child(0) > div > div {
	width:99% !important;
}
.button {
	margin:0.25em 0.25em 0 0!important;
}
@media only screen and (min-width: 1200px){
body > div.ui.container{
    width: 1250px !important;
    margin-left: auto!important;
    margin-right: auto!important;
}
}

